@model EnvanterTakipYönetimSistemi.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Home Sayfası -->
<link href="~/Content/Home/style.css" rel="stylesheet" />

<div class="cards">
    <div class="card-single">
        <div>
            <h1>50</h1>
            <span>Envanter</span>
        </div>
        <div>
            <span class="fas fa-users"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>12</h1>
            <span>Talep</span>
        </div>
        <div>
            <span class="fas fa-clipboard-list"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>15</h1>
            <span>Servis</span>
        </div>
        <div>
            <span class="fas fa-shopping-cart"></span>
        </div>
    </div>
    <div class="card-single" >
        <div id="clock" >

            <span class="date">{{ date }}</span>
            <h1 class="time">{{ time }}</h1>
            <span>Takvim</span>
        </div>
        <div>
            <span class="fas fa-wallet"></span>
        </div>
    </div>
    @if (Session["Per_Rol"] != null && Session["Per_Rol"].ToString() == "A")
    {
        <div class="card-single">
            <div>
                <h1>@Model.DashboardList[0].EnvanterToplamAdet</h1>
                <span>Toplam Envanter</span>
            </div>
            <div>
                <span class="fas fa-users"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>12</h1>
                <span>Toplam Talep</span>
            </div>
            <div>
                <span class="fas fa-clipboard-list"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>15</h1>
                <span>Toplam Servis</span>
            </div>
            <div>
                <span class="fas fa-shopping-cart"></span>
            </div>
        </div>
    }

    </div>
<script src="~/Content/Home/vue.min.js"></script>
<script src="~/Content/Home/script.js"></script>


<div class="recent-grid">

</div>
<div class="card">
    <div class="card-header"><h2>Duyurular</h2></div>
    <div class="card-body">
        <div class=" table-responsive">
            <table width="100%">
                <thead>

                    <tr>
                        <td>Yayınlayan</td>
                        <td>Şube</td>
                        <td>Konu</td>
                        <td>İçerik</td>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var duyuru in Model.DuyuruList)
                    {
                        <tr>
                            <td>@duyuru.DuyuruYayinlayan</td>
                            <td>@duyuru.DuyuruYayinlayanSube</td>
                            <td>@duyuru.DuyuruKonu</td>
                            <td>@duyuru.DuyuruIcerik</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>

