@using EnvanterTakipYönetimSistemi.ViewModels
@model PersonelViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personel Listesi</h1>
<p> Bu alanda şirketinizde çalışan personellerin (kullanıcı) listesi bulunmaktadır. Bu listede bulunan personel bilgileri üzerinde düzenlemeler yapabilirsiniz.</a></p>


<div id="ajax-main">
    @Html.Partial("_PersonelTablo", @Model)
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envanter Ekleme-Düzenleme İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="popupclose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("PersonelKayit", "Personel", FormMethod.Post, new AjaxOptions { OnSuccess = "PersonelKayit", OnBegin = "return dogrula();" }, new { id = "frm-PersonelKayit" }))
                {

                    @Html.HiddenFor(m => m.PersonelID)
                    <br />
                    <div>
                        Ad:
                        @Html.TextBoxFor(m => m.PersonelAd, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <div>
                        Soyad:
                        @Html.TextBoxFor(m => m.PersonelSoyad, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <div style="position:center">
                        Şube:
                        @Html.DropDownListFor(m => m.PerSubeID, Model.PersonelSubeList, new { style = "height: 30px; width: 300px; position:absolute;left:100px;" })

                    </div>
                    <br />
                    <div class="editor-field">
                        E-posta:
                        &nbsp;&nbsp;&nbsp;&nbsp; @Html.ValidationMessageFor(m => m.PersonelEposta)
                        @Html.TextBoxFor(m => m.PersonelEposta, new { @type = "email", style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                        <br />
                    </div>
                    <br />
                    <div>
                        Parola:
                        @Html.TextBoxFor(m => m.Personel_Sifre, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                        <br />
                    </div>
                   
                    <br />
                    <div style="position:center">
                        Rol:
                        @Html.DropDownListFor(m => m.PersonelRol, Model.PersonelRolList, new { style = "height: 30px; width: 300px; position:absolute;left:100px;" })

                    </div>
                    <br />
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="popupclose()">Çıkış</button>
                        <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Table/javaS/jquery.unobtrusive-ajax.js"></script>


<script type="text/javascript">
    //document.getElementById('submitButton').onclick = function () {
    function dogrula() {
        var uyari = "";
        var kontrol = 0;

        if ($("#PersonelAd").val() == null || $("#PersonelAd").val() == "") {
            uyari += "Personel Adı alanı boş geçilemez.<br />"
            kontrol=1
        }
        if ($("#PersonelSoyad").val() == null || $("#PersonelSoyad").val() == "") {
            uyari += "Personel Soyadı alanı boş geçilemez. <br />"
            kontrol=1
        }
        if ($("#PerSubeID").val() == null || $("#PerSubeID").val() == "") {
            uyari += "Lütfen Şube seçiniz.<br />"
            kontrol=1
        }
        if ($("#PersonelEposta").val() == null || $("#PersonelEposta").val() == "") {
            uyari += "Eposta alanı boş geçilemez. <br />"
            kontrol=1
        }
        if ($("#Personel_Sifre").val() == null || $("#Personel_Sifre").val() == "") {
            uyari += "Parola alanı boş geçilemez. <br />"
            kontrol=1
        }
        if ($("#PersonelRol").val() == null || $("#PersonelRol").val() == "") {
            uyari += "Personel Rolünü seçiniz."
            kontrol=1
        }

        if (kontrol == 1) {
          
            Swal.fire({
                title: 'Hata!',
                html: uyari,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;
           
        } else {
            return true;
        }
       
    }


    function popupclose() {
        $('#exampleModal').modal('hide');
        $("#frm-PersonelKayit")[0].reset();
    }

    function PersonelKayit(result) {
        if (result == "1") {

            $.ajax({
                url: '/Personel/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    popupclose()
                    $("#ajax-main").html(data);


                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Yeni Personel Eklenmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })
                }
            });
        }
        else if (result == "0") {
            $.ajax({
                url: '/Personel/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    popupclose()
                    $("#ajax-main").html(data);


                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Personel Bilgileri Güncellenmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })


                }

            });
        }
        else if (result == "-1") {

            Swal.fire({
                title: 'Hata!',
                text: 'Uyarı.',
                icon: 'error',
                confirmButtonText: 'Cool'
            })


        }

    }


</script>
