@using EnvanterTakipYönetimSistemi.ViewModels
@model DuyuruViewModel

<!doctype html>
<html lang="tr">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="~/Content/Table/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/Table/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>


<body>
    <div id="toolbar" class="select">
        <div class="form-inline" role="form">
            <div id="toolbar">
                <select class="form-control">
                    <option value="all">Tümünü Dışa Aktar</option>
                    <option value="selected">Seçimi Dışa Aktar</option>
                </select>
            </div>

            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">

                <img src="~/Content/svg/ooplus-square-fill.svg" />
            </button>
            <button id="kontrol" class="btn btn-default" onclick="selectMe()">

                <img src="~/Content/svg/oocheck-square-fill.svg" />
  
            </button>
            <button id="kontrol" class="btn btn-default" onclick="selectMe()" data-toggle="modal" data-target="#exampleModal">

                <img src="~/Content/svg/oodash-square-fill.svg" />
            </button>
        </div>
    </div>

    <div id="wrapper">
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-filter-control="true"
               data-show-export="true"
               data-single-select="false"
               data-click-to-select="true"
               data-maintain-meta-data="false"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-show-columns="true"
               data-show-footer="true">
            <thead class="text-center">
                <tr >
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id" data-filter-control="select" data-sortable="true">ID</th>
                    <th data-field="yayinlayan" data-filter-control="select" data-sortable="true">Yayınlayan</th>
                    <th data-field="yayinlayansube" data-filter-control="select" data-sortable="true">Şubesi</th>
                    <th data-field="konu" data-filter-control="input" data-sortable="false">Konu</th>
                    <th data-field="icerik" data-filter-control="input" data-sortable="false">İçerik</th>
                    <th data-field="aktiflik" data-filter-control="select" data-sortable="true">Aktiflik</th>

                    <th data-field="yayinlayanid" data-visible="false"></th>
                    <th data-field="yayinlayanSubeid" data-visible="false"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var duyuru in Model.DuyuruList)
                {
                <tr>
                    <td class="bs-checkbox ">
                        <input name="btSelectItem" type="checkbox">
                    </td>
                    <td>@duyuru.DuyuruID</td>
                    <td>@duyuru.DuyuruYayinlayan</td>
                    <td>@duyuru.DuyuruYayinlayanSube</td>
                    <td>@duyuru.DuyuruKonu</td>
                    <td>@duyuru.DuyuruIcerik</td>
                    <td>@duyuru.DuyuruKayit</td>
                    <td>@duyuru.DuyuruYayinlayanID</td>
                    <td>@duyuru.DuyuruYayinlayanSubeID</td>

                </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">

        function selectMe() {
            var _id = getIdSelections(1)
            var _konu = getIdSelections(2)
            var _icerik = getIdSelections(3)
            var _yayinlayanid = getIdSelections(4)
            var _yayinlayansubeid = getIdSelections(5)

            if (_id.length >= 1) {
                $('#exampleModal').modal('show');

                $("#DuyuruID").val(_id[0]);
                $("#DuyuruKonu").val(_konu[0]);
                $("#DuyuruIcerik").val(_icerik[0]);
                $("#DuyuruYayinlayanID").val(_yayinlayanid[0]);
                $("#DuyuruYayinlayanSubeID").val(_yayinlayansubeid[0]);
            }
        }


        function getIdSelections(i) { // table seçili checkbox'a göre id
            switch (i) {
                case 1:
                    return $.map($table.bootstrapTable('getSelections'), ({ id }) => id);
                    break;
                case 2:
                    return $.map($table.bootstrapTable('getSelections'), ({ konu }) => konu);
                    break;
                case 3:
                    return $.map($table.bootstrapTable('getSelections'), ({ icerik }) => icerik);
                    break;
                case 4:

                    return $.map($table.bootstrapTable('getSelections'), ({ yayinlayanid }) => yayinlayanid);
                    break;
                case 5:
                    return $.map($table.bootstrapTable('getSelections'), ({ yayinlayanSubeid }) => yayinlayanSubeid);
                    break;
            }
        }

    </script>

    <script src="~/Content/Table/javaS/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Table/javaS/jquery.min.js"></script>
    <script src="~/Content/Table/javaS/popper.min.js"></script>
    <script src="~/Content/Table/javaS/bootstrap.min.js"></script>



    <script src="~/Content/Table/javaS/tableExport.min.js"></script>
    <script src="~/Content/Table/javaS/jspdf.min.js"></script>
    <script src="~/Content/Table/javaS/jspdf.plugin.autotable.js"></script>
    <script src="~/Content/Table/javaS/bootstrap-table.min.js"></script>
    <script src="~/Content/Table/javaS/bootstrap-table-export.min.js"></script>
    <script src="~/Content/Table/javaS/seciliExscript.js"></script>
    <script src="~/Content/Table/javaS/bootstrap-table-filter-control.min.js"></script>
</body>


</html>