@using EnvanterTakipYönetimSistemi.ViewModels
@model DuyuruViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Duyurular Listesi</h1>
<p> Bu alanda şirketinize ait olan duyuruların listesi bulunmaktadır. Bu listede duyurular üzerinde düzenlemeler yapabilirsiniz. Unutmayınız duyurular tüm kullanıcılarda gözükmektedir.</p>


<div id="ajax-main">
    @Html.Partial("_DuyuruTablo", @Model)
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Duyuru Ekleme-Düzenleme İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="popupclose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("DuyuruKayit", "Duyuru", FormMethod.Post, new AjaxOptions { OnSuccess = "DuyuruKayit", OnBegin = "return dogrula();" }, new { id = "frm-duyuruKayit" }))
                {
                    @Html.HiddenFor(m => m.DuyuruID)
                    @Html.HiddenFor(m => m.DuyuruYayinlayanID)
                    @Html.HiddenFor(m => m.DuyuruYayinlayanSubeID)
                    <div>
                        Konu:
                        @Html.TextBoxFor(m => m.DuyuruKonu, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" });
                    </div>
                    <br />
                    <div>
                        İçerik:

                        @Html.TextAreaFor(m => m.DuyuruIcerik,10,55, new {  style = "height: 100px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
             
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="popupclose()">Çıkış</button>
                        <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>




<script src="~/Content/Table/javaS/jquery.unobtrusive-ajax.js"></script>


<script type="text/javascript">
    function dogrula() {
        var uyari = "";
        var kontrol = 0;

        if ($("#DuyuruKonu").val() == null || $("#DuyuruKonu").val() == "") {
            uyari += "Konu boş geçilemez.<br />"
            kontrol = 1
        }
        if ($("#DuyuruIcerik").val() == null || $("#DuyuruIcerik").val() == "") {
            uyari += "İçerik alanı boş geçilemez. <br />"
            kontrol = 1
        }

        if (kontrol == 1) {

            Swal.fire({
                title: 'Hata!',
                html: uyari,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;

        } else {
            return true;
        }

    }




    function popupclose() {
        $('#exampleModal').modal('hide');
        $("#frm-duyuruKayit")[0].reset();
    }

    function DuyuruKayit(result) {
        if (result == "1") {

            $.ajax({
                url: '/Duyuru/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    popupclose()
                    $("#ajax-main").html(data);


                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Yeni duyuru eklenmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })
                }
            });
        }
        else if (result == "0") {
            $.ajax({
                url: '/Duyuru/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    popupclose()
                    $("#ajax-main").html(data);

                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Duyuru Güncellenmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })
                }
            });
        }
    }


</script>
