@using EnvanterTakipYönetimSistemi.ViewModels

@model EnvanterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--Envanterler Tanımlama Sayfası    -->



<div id="ajax-main">
    @Html.Partial("_EnvanterTablo", @Model)
</div>

<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Envanter İşlemleri Sayfası</h2>
        <h5>Düzenleme için tek bir alan seçebilirsiniz. </h5>

        <a id="close"onclick="popupclose()" class="close" href="#">&times;</a>
        <div class="content">
            @using (Ajax.BeginForm("EnvanterKayit", "Envanter", FormMethod.Post, new AjaxOptions { OnSuccess = "EnvanterKayit" }, new { id = "frm-envanterKayit" }))
            {
                @Html.HiddenFor(m => m.Envanter_ID)

                <div style="position:center">
                    Cinsi:
                    @Html.DropDownListFor(m => m.EnvanterCins_ID, Model.CinsiList, new { style = "height: 30px; width: 300px; position:absolute;left:100px;" })

                </div>
                <br />
                <div>
                    Marka:

                    @Html.DropDownListFor(m => m.EnvanterMarka_ID, Model.MarkaList, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                </div>
                <br />
                <div>
                    Model:

                    @Html.TextBoxFor(m => m.EnvanterModel, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                </div>
                <br />
                <div>
                    Seri No:

                    @Html.TextBoxFor(m => m.EnvanterSeriNo, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                </div>
                <br />
                <div>
                    Şube:

                    @Html.DropDownListFor(m => m.EnvanterSube_ID, Model.SubeList, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                </div>
                <br />
                <div>
                    <input style="width: 300px; position: absolute; left: 100px " class="btn btn-primary " type="submit" value="Kaydet" />
                </div>
                <br />
                <br />
            }
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script type="text/javascript">

    function popupclose() {
        $("#frm-envanterKayit")[0].reset();

    }

    function EnvanterKayit(result) {
        if (result == "1") {

            $.ajax({
                url: '/Envanter/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#frm-envanterKayit")[0].reset();
                    window.location.href = '#';
                    
                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Yeni envanter kayıt edilmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })
                }
            });
        }
        else if (result == "0") {
            $.ajax({
                url: '/Envanter/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {

                    $("#ajax-main").html(data);
                    $("#frm-envanterKayit")[0].reset();
                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Envanter Güncellenmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })

                }

            });
        }
        else if (result == "-1") {

            Swal.fire({
                title: 'Hata!',
                text: 'Seri no farklı bir üründe kayıtlıdır.',
                icon: 'error',
                confirmButtonText: 'Cool'
            })
         
        }

    }




</script>
