@using EnvanterTakipYönetimSistemi.ViewModels
@model EnvanterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Envanter Listesi</h1>
<p> Bu alanda şirketinize ait olan envanterlerin listesi bulunmaktadır. Bu listede envanter bilgileri üzerinde düzenlemeler yapabilirsiniz.</a></p>


<div id="ajax-main">
    @Html.Partial("_EnvanterTablo", @Model)
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envanter Ekleme-Düzenleme İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="popupclose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("EnvanterKayit", "Envanter", FormMethod.Post, new AjaxOptions { OnSuccess = "EnvanterKayit", OnBegin = "return dogrula();" }, new { id = "frm-envanterKayit" }))
                {
                    @Html.HiddenFor(m => m.Envanter_ID)

                    <div style="position:center">
                        Cinsi:
                        @Html.DropDownListFor(m => m.EnvanterCins_ID, Model.CinsiList, new { style = "height: 30px; width: 300px; position:absolute;left:100px;" })

                    </div>
                    <br />
                    <div>
                        Marka:

                        @Html.DropDownListFor(m => m.EnvanterMarka_ID, Model.MarkaList, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <div>
                        Model:

                        @Html.TextBoxFor(m => m.EnvanterModel, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <div>
                        Seri No:

                        @Html.TextBoxFor(m => m.EnvanterSeriNo, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <div>
                        Şube:

                        @Html.DropDownListFor(m => m.EnvanterSube_ID, Model.SubeList, new { style = "height: 30px; width: 300px;position:absolute;left:100px;" })
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="popupclose()">Çıkış</button>
                        <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Table/javaS/jquery.unobtrusive-ajax.js"></script>


<script type="text/javascript">

    function dogrula() {
        var uyari = "";
        var kontrol = 0;

        if ($("#EnvanterCins_ID").val() == null || $("#EnvanterCins_ID").val() == "") {
            uyari += "Lütfen Envanter Cinsi Seçiniz.<br />"
            kontrol = 1
        }
        if ($("#EnvanterMarka_ID").val() == null || $("#EnvanterMarka_ID").val() == "") {
            uyari += "Lütfen Marka Seçiniz. <br/>"
            kontrol = 1
        }
        if ($("#EnvanterModel").val() == null || $("#EnvanterModel").val() == "") {
            uyari += "Model alanı boş bırakılamaz.<br />"
            kontrol = 1
        }
        if ($("#EnvanterSeriNo").val() == null || $("#EnvanterSeriNo").val() == "") {
            uyari += "Seri No alanı boş geçilemez. <br />"
            kontrol = 1
        }
        if ($("#EnvanterSube_ID").val() == null || $("#EnvanterSube_ID").val() == "") {
            uyari += "Lütfen Şube seçiniz. <br />"
            kontrol = 1
        }

        if (kontrol == 1) {

            Swal.fire({
                title: 'Hata!',
                html: uyari,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;

        } else {
            return true;
        }

    }



    function popupclose() {
        $('#exampleModal').modal('hide');
        $("#frm-envanterKayit")[0].reset();
    }

    function EnvanterKayit(result) {
        if (result == "1") {

            $.ajax({
                url: '/Envanter/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    popupclose()
                    $("#ajax-main").html(data);
                    

                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Yeni envanter kayıt edilmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })
                }
            });
        }
        else if (result == "0") {
            $.ajax({
                url: '/Envanter/Index',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    popupclose()
                    $("#ajax-main").html(data);
                   
                    
                    Swal.fire({
                        title: 'Başarılı!',
                        text: 'Envanter Güncellenmiştir',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    })
                    

                }

            });
        }
        else if (result == "-1") {

            Swal.fire({
                title: 'Hata!',
                text: 'Seri no farklı bir üründe kayıtlıdır.',
                icon: 'error',
                confirmButtonText: 'Cool'
            })
           

        }

    }


</script>
